body {
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;

    
}

#header {
    text-align: center;
    padding: 70px 0 70px 0;

}

h1{
    margin: 0 0 15px 0;
    color: hsl(234, 12%, 34%);
    font-size: 24px;
    font-weight: 400;
}

h2{
    margin: 0 0 15px 0;
    color: hsl(234, 12%, 34%);
    font-size: 24px;
    font-weight: 600;

}

.container-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-left_column{
    border-style: solid none none none;
    border-color:hsl(180, 62%, 55%);
    background-color: white;
    margin: 10px;
    width: 25%;
    margin-right: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13);

}

.container-left_title{
    font-weight: 600;
    margin-top: 25px;
    margin-left: 25px;
}

.container-left_text{
    padding: 25px;
    font-size: 14px;
}

.container-left_image{
    display:flex;
    justify-content: flex-end;
    position: sticky;
    margin-right: 20px;
}

.container-middle{
    width: 25%;
}

.container-middle_top{
    background-color: white;
    margin-bottom: 10px;
    border-style: solid none none none;
    border-color:  hsl(0, 78%, 62%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13) ;
}

.container-middle_top_title, .container-middle_bottom_title{
    font-weight: 600;
    margin-top: 25px;
    margin-left: 25px;
}

.container-middle_top_text, .container-middle_bottom_text{
    padding: 25px;
    font-size: 14px;
}
.container-middle_top_image, .container-middle_bottom_image{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    margin-right: 20px;
    margin-bottom: 25px;
}

.container-middle_bottom{
    margin-bottom: 10px;
    background-color: white;
    border-style: solid none none none;
    border-color: hsl(34, 97%, 64%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13);
    
}

.container-right_column{
    background-color: white;
    border-style: solid none none none;
    border-color: hsl(212, 86%, 64%);
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.13);
    width: 25%;
    margin-left: 25px;
}

.container-right_title{
    font-weight: 600;
    margin-top: 25px;
    margin-left: 25px;
}
.container-right_text{
    padding: 25px;
    font-size: 14px;
}

.container-right_image{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    margin-right: 20px;
}

img {
    padding-bottom: 20px;
}
footer {
    text-align: center;
    margin-top: 50px;
    
}

@media (max-width: 978px){
    .container{
        min-width: 350px;
    }


    #header {
        text-align: center;
        margin:20px 20px 20px 20px;
    }
    .container-content{
        flex-direction: column;
    }
    .container-left_column, .container-middle, .container-right_column{
        width: 70%;
        margin: 25px;
        font-size: 24px;
    }
    .container-middle_top {
        margin-bottom: 30px; 
    }
    .container-middle_bottom {
        margin-top: 50px;
    }
}